
body{
    background-color: #333;
    
}

.center {
    text-align: center;
}

p{
    color: #fff;
    font-size: 36px;
}
.paragraf{
    color: gold;
    font-size: 50px;
    text-align: center;
}
.lorem{
    color: tomato;
    font-size: 80px;

}
img{
    border-radius: 25px;
    display: block;
    margin: 0 auto;

}
.text{
    color: lime;
    content:"";
}
.lista{
    color: blueviolet;
    text-align: center;
    list-style-position: inside;
    font-size: 69px;
}


.tabela,th,td{
border-collapse: collapse;
border: 4px solid red;
font-size: 69px;


}